@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/bootstrap/scss/_functions.scss";
// @import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";


// ====== FONTS ==========================
@font-face {
  font-family: 'encode_sans_sccondensed_thin';
  src: url('../fonts/encodesanssc-variablefont_wdthwght.woff2') format('woff2'),
       url('../fonts/encodesanssc-variablefont_wdthwght.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'righteousregular';
    src: url('../fonts/righteous-regular-webfont.woff2') format('woff2'),
         url('../fonts/righteous-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// ====== COLORS VARIABLES ==========================
$black: #0f0e17 ;
$grey: #a7a9be;
$white: #fffffe;
$pink: #e53170;
// $purple: #301B3F;
$red: #f25f4c;
// $blue: #3C415C;
$orange: #ff8906;


// ======RESET ==========================
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'encode_sans_sccondensed_thin'; 
}


a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  color: $grey;
}

.btn-template {
  color: $white;
  background-color: $red;
  font-weight: 600;
  padding: 1.12rem 3rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  border-top-left-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid $red;
  cursor: pointer;
  margin-bottom: 10rem;

  &:hover {
    background-color: transparent;
    color: $red;
  }
}

.scrollToTop {
  margin: 0 30px 20px 0;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.scrollToTop:hover {
  text-decoration: none;
}

// ANIMATION FADE
.reveal {
  position: relative;
  transform: translateY(9.37rem);
  opacity: 0;
  transition: all 3s;
}

.reveal.active {
  transform: translateY(0rem);
  opacity: 1;
  transition: all 2s;
}

// ====== KEYFRAMES ==========================
@keyframes boucingBall {
  from {
    transform: translate3d(0, 0rem, 0);
  }
  to {
    transform: translate3d(0, 1rem, 0);
  }
}


// ====== HEADER ==========================
.background {
  background-color: $black;
  color: $white;

    header {

    .ball {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;         /* Turns a square into a circle   */
      background-color: $red; 
      opacity: 0.4;

      animation: boucingBall 1.5s;
      transition: all ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      position: absolute;

      @include media-breakpoint-down(xl) {
        width: 20rem;
        height: 20rem;
      }
      
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    nav {
      overflow: visible;
      z-index: 1;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger {
        display: none;
        height: 3em;
        width: 3em;
        position: relative;
        font-size: 0.75rem;
        cursor: pointer;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all;
        -webkit-tap-highlight-color: transparent; 

        @include media-breakpoint-down(md) {
          display: block;
        }
      }
      
        .burger .burger-lines:after {
          transition: all 0.5s ease-out;
          left: 0;
          top: -1em; 
        }

        .burger .burger-lines:before {
          transition: all 0.5s ease-out;
          left: 1em;
          top: 1em; 
        }

        .burger:after {
          content: '';
          display: block;
          position: absolute;
          height: 150%;
          width: 150%;
          top: -25%;
          left: -25%; }

        .burger .burger-lines {
          transition: all 0.3s ease-in;
          top: 50%;
          margin-top: -0.125em; 
        }
          .burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
            pointer-events: none;
            display: block;
            content: '';
            width: 100%;
            border-radius: 0.25em;
            background-color: white;
            height: 0.25em;
            position: absolute;
            -webkit-transform: rotate(0);
                -ms-transform: rotate(0);
                    transform: rotate(0); 
          }
          .burger .burger-lines:after {
            left: 0;
            top: -1em; 
          }
          .burger .burger-lines:before {
            left: 1em;
            top: 1em; 
          }
      .burger.open {
        .burger-lines:before {
          transition: all 0.5s ease-in;
          left: -1rem;
        }
        .burger-lines:after {
          transition: all 0.5s ease-in;
          left: 0.7rem;
        }
      }
          
      .menu-center {
        transition: all 0.4s ease-in-out;

        @include media-breakpoint-down(md) {
          display: block;
        }
      }

      h1 {
        cursor: pointer;
        font-size: 2rem;
        position: relative;
        background-color: transparent;
        font-family: 'Encode Sans SC', sans-serif;
        font-weight: 600;

      }

      .ul-father {    
        display: flex;

        @include media-breakpoint-down(md) {
          display: none;
        }
        .li-child {
          margin-right: 1rem;
          position: relative;
          display: block;
          font-weight: 600;
          font-size: 1.2rem;
          
          a {
            color: $white;
          }
        
          a::after {
            content: '';
            width: 0%;
            height: 2px;
            background-color: $red;

            position: absolute;
            left: 0;
            bottom: -1.5rem;
            transition: width 0.4s ease-in-out;
          }

          a:hover {
            color: $red;
            transition: color 0.3s ease-in-out;
          }

          a:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  // ====== MAIN-CONTENT ==========================
  #main-content {
    margin-top: 11rem;

    @include media-breakpoint-down(md) {
      margin-top: 3.75rem;
    }

    .text {
      display: grid;
      justify-content: center;
      margin: 0 auto;

      h2 {
        font-size: 5.25rem;
        position: relative;
        background-color: transparent; 
        font-family: 'righteousregular';
        font-weight: 400;   
        line-height: 5rem;
        
        br {
          display: none;
        }

        @include media-breakpoint-down(md) {
          font-size: 4.5rem;
          line-height: 5rem;
          
          br {
            display: block;
          }
        }
        
        span {
          font-family: 'righteousregular';
          font-weight: 400;  
          color: $red;         
        }
      }
      
      p {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;

        @include media-breakpoint-down(sm) {
        text-align: left;
        }
      }
    }
  }  
}

// ====== ABOUT ==========================
section#about {
  position: relative;  
  padding-bottom: 10rem;
  @include media-breakpoint-down(sm) {
    // margin-bottom: 2.5rem;
  }

  .ball {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;         /* Turns a square into a circle   */
    background-color: $red; 
    opacity: 0.4;
    right: 0;
    z-index: -1;

    animation: boucingBall 1.5s;
    transition: all ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: absolute;

    @include media-breakpoint-down(xl) {
      width: 20rem;
      height: 20rem;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .text {
    margin-top: 10rem;

    @include media-breakpoint-down(sm) {
      margin-top: 2.5rem;
    }
    
    h2 {
      font-size: 2.12rem;
      color: $red;

      @include media-breakpoint-down(md) {
        font-size: 2rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
      }
    }

    p {
      margin-top: 2.5rem;
      font-size: 1.2rem;
      font-weight: 700;

      @include media-breakpoint-down(xl) {
        font-size: 1.1rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 0.9rem;
      }
    }
  }

  .box-img {
    
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 2.5rem;
    }

    img {
      border-bottom-right-radius: 1.8rem;
      border-top-left-radius: 1.8rem;
      margin-top: 10rem;
      z-index: 1;
  
      @include media-breakpoint-down(lg) {
        margin-top: 2.5rem;

      }

      @include media-breakpoint-down(sm) {
        width: 80%;
      }
    }
  }
}

// ====== TECHNOLOGYS ==========================
section#technologys {
  background-color: $black;
  height: 100%;
  color: $white;
  @include media-breakpoint-down(sm) {
    margin-top: 2.5rem;
  }

  .container {

    .ball {
      width: 25rem;
      height: 25rem;
      border-radius: 50%;         /* Turns a square into a circle   */
      background-color: $red; 
      opacity: 0.1;

      animation: boucingBall 1.5s;
      transition: all ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      position: absolute;

      @include media-breakpoint-down(xl) {
        width: 20rem;
        height: 20rem;
      }
      
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    
    .text {
      margin-top: 10rem;
      font-weight: 700;
      font-size: 2.12rem;
      position: relative;
    }
    
    // SLICK SLIDE IMAGES
    .slick-father {
      margin-top: 4rem;

      .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .slick-child {
        img {
          width: 9.37rem;
          height: auto;
          margin: 0 auto;

          @include media-breakpoint-down(sm) {
            width: 5rem;
          }
        }
      }
    }

    // SLICK SLIDE TEXT
    .slick-text-father {

      margin-top: 2rem;
      .slick-text-child {

      }
    }

    .bar {      
      background-color: $pink;
      width: 100%;
      height: 1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      padding: 0.8rem 0 0.8rem 1rem;
      margin-top: 0.5rem;
      justify-content: space-between;

      span {
        padding-right: 1rem;
      }
    }
    
    .bar.html {
      margin-top: 4rem;
      width: 95%;
    }

    .bar.css {
      width: 70%;
    }

    .bar.sass {
      width: 70%;
    }

    .bar.javascript {
      width: 25%;
    }

    .bar.bootstrap {
      width: 50%;
    }

    .bar.slick {
      width: 90%;
    }

    .bar.git {
      width: 40%;
      margin-bottom: 10rem;
    }
  }
}

// ====== CONTACT ==========================
section#contact {
  display: flex;
  justify-content: center;
  position: relative;

  .ball {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;         /* Turns a square into a circle   */
    background-color: $red; 
    opacity: 0.4;
    right: 0;

    animation: boucingBall 1.5s;
    transition: all ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: absolute;

    @include media-breakpoint-down(xl) {
      width: 20rem;
      height: 20rem;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .text {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1.93rem;

    h2 {
      font-size: 2.2rem;
      font-family: 'righteousregular';
      font-weight: 400;   
      line-height: 5rem;
      color: $black;

      span {
        font: inherit;
        color: $red;
      }
    }

    p {
      color: $black;
    }
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    input {
      padding: 0.93rem; 
      margin-top: 2.25rem;
      color: $red;
      font-weight: 700;
      width: 90%;
      
      border-radius: 0.4rem;
    }
    
    .fix-textarea {
      display: flex;
      
      textarea {
        padding: 0.93rem; 
        margin-top: 2.25rem;
        color: $red;
        font-weight: 700;
        width: 90%;
        resize: none;
        border-radius: 0.4rem;
      }
    }

    .fix-btn {
      display: flex;
    }
  }
}

footer#footer {
  display: flex;
  justify-content: center;
  height: 10rem;

  .bar-footer {
    width: 100%;
    background-color: $red;
    height: 0.2rem;
  }

  h2 {
    text-align: center;
  }
}