@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";


// FONTS 

@font-face {
    font-family: 'righteousregular';
    src: url('../fonts/righteous-regular-webfont.woff2') format('woff2'),
         url('../fonts/righteous-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// ======RESET ==========================
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'righteousregular';
  background-color: $black;
  color: $white;
}


a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

// ====== COLORS VARIABLES ==========================
$black: #151515;
$white: #f7f7f7;
$purple: #301B3F;
$purple-2: #B4A5A5;
$blue: #3C415C;


// @include media-breakpoint-up(lg)

// ====== KEYFRAMES ==========================
@keyframes boucingBall {
  from {
    transform: translate3d(0, -3rem, 0);
  }
  to {
    transform: translate3d(0, 1rem, 0);
  }
}


// ====== HEADER ==========================
header {
  position: relative;

  .ball {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;         /* Turns a square into a circle   */
    background-color: $purple; 
    opacity: 0.3;

    animation: boucingBall 1.5s;
    transition: all ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: absolute;
  }
  
  nav {
    z-index: 1;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      cursor: pointer;
      font-size: 2rem;
      position: relative;
      background-color: transparent;
    }

    .ul-father {    
      display: flex;
      .li-child {
        padding-right: 1rem;
        position: relative;
        display: block;

        a::after {
          content: '';
          width: 0%;
          height: 2px;
          background-color: $purple;
          
          position: absolute;
          left: 0;
          bottom: -1.5rem;
          transition: width 0.4s ease-in-out;
        }

        a:hover {
          color: $blue;
          transition: color 0.3s ease-in-out;
        }

        a:hover::after {
          width: 100%;
        }
      }
      
    }
  }
}

// ====== MAIN-CONTENT ==========================
#main-content {
  margin-top: 11rem;

  .text {
    display: flex;
    justify-content: center;
  }

    h2 {
      font-size: 5.25rem;
      position: relative;
      background-color: transparent;
    }
}

#technologys {
  
  height: 15rem;
  margin-top: 15rem;
  .container {

    .text {
      margin-bottom: 2rem;
    }

    .father {
      align-items: center;
      display: flex;
    }
      .slick-father {
        
        .slick-child {
          img {
            width: 9.37rem;
            height: auto;
          }
        }
      }
  }
}